<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="daminion" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="api/mediaitems*" />
                    <action type="Redirect" url="http://localhost:8090/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
