html, body {
    width: 100%;
    height:100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.l-page {
    width:100%;
    position:relative;
    min-height:100%;
}

.l-layout {
    width: 640px;
    .border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px;
    margin: 0 auto;
}

.g-load {
    background-color: gray;
    opacity: 0.5;
    overflow: hidden;
    z-index: 9999;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.g-preload {
    background-image: url('../image/350 (1).GIF');
    width:50px;
    height:50px;
    left:50%;
    top:50%;
    width:50px;
    height:50px;
    margin-left:-25px;
    margin-top:-25px;
    position: absolute;
}

.g-fixed_over_screen {
    overflow: hidden;
}

.g-clear {
    clear:both;
}